# Configurações do Servidor
PORT=3000

# Credenciais de Conexão do MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD='123456'
DB_NAME=fitlife_db

# Chave Secreta para assinatura de tokens JWT (pode ser qualquer string complexa)
JWT_SECRET=super_secret_jwt_token_key_fitlife_123!
